<div id="<%= dom_id tweet %>" class="card mb-3 shadow-sm">
  <div class="card-body">
    <!-- Descripción del tweet -->
    <p class="card-text">
      <strong>Descripción:</strong> 
      <%= tweet.description %>
    </p>

    <!-- Nombre de usuario -->
    <p class="card-text">
      <strong>Nombre de Usuario:</strong>
      <%= tweet.username %>
    </p>
  </div>
</div>
